
/* footer #pie_pagina {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: black;
} */

/* #footer{ 

    height: 100px;  
    width:100%; 
    position:relative; 
    bottom:0; 
    left:0; 
  } */
  /* position: fixed; */

/* #footer{
  flex: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  /* background-color: var(--first-color); */
/* } */

/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 0px;
  background-color: var(--first-color) !important;
} */

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 0px;
  background-color: var(--first-color) !important;
  color:var(--first-letra);
}

/* #contenidofoo{
    width:500px;
		height:300px;
		line-height:300px;
		border:1px solid;
		text-align:center;
}
#contenidofoo>span {
  display:inline-block;
  vertical-align:middle;
  line-height:normal;
} */




/* STYLES SPECIFIC TO FOOTER  */

/* .footer {
    flex-shrink: none;
    width: 100%;
    position: static;
    height: auto;
    background-color: #070617;
  }  */

  
/* 
  .footer{
    flex: 0 0 auto;
 } */
  /* .footer, .push {
    height: 4em;
    } */

/* 
    .footer{
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 75%;
    height: 50px;
   }  */