<br>
<br>


<footer  [style.backgroundColor]="'cyan'" id="footer" class="page-footer font-small teal pt-4">

        <div [style.backgroundColor]="'cyan'" class="container-fluid text-center text-md-left">
      
      
          <div class="row">
      
         
            <div class="col-md-6 mt-md-0 mt-3">
      
        
              <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
                harum esse fugiat. Itaque, culpa?</p>
      
            </div>
           
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
         
            <div class="col-md-6 mb-md-0 mb-3">
      
       
              <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
                commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
                excepturi hic.</p>
      
            </div>
      
          </div>
    
        </div>
       
        <div [style.backgroundColor]="'cyan'" class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Yadira Jazmin Perez Castillo</a>
        </div>
</footer>



<!-- <footer>
  <div id="footer" layout="row" layout-align="center center">
      <h2>My Awesome Footer</h2>
  </div>
</footer> -->