<app-menu></app-menu>
<div align="center">
    <br>
    <br>
    <br>
    <br>
    <mat-accordion>
        <dx-data-grid #grid [width]="800" id="gridContainer" [dataSource]="Objs" keyExpr="_id"
            [allowColumnReordering]="true" [showBorders]="true" (onRowInserting)="InsertRow($event)"
            (onEditorPreparing)="onEditorPreparing($event)" (onRowUpdating)="UpdateRow($event)"
            (onRowRemoving)="DeleteRow($event)">
            <dxo-paging [enabled]="true"></dxo-paging>
            <dxo-editing useIcons="true" mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
                <dxo-texts confirmDeleteMessage="¿Estas seguro de eliminar el registro?"></dxo-texts>
            </dxo-editing>
            <dxi-column dataField="n_obj" caption="N°" [width]="50">
            </dxi-column>
            <dxi-column dataField="descrip" caption="Descripción">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="clave" [width]="60" caption="Clave">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
        </dx-data-grid>
        <br>
        <br>
    </mat-accordion>
    <br>
    <br>
</div>
<app-footer></app-footer>