<div class="maincontent">
    <app-menu></app-menu>
    <div class="Appcontainer" align="center">
        <section>
            <div class="container">
                <br>
                <br>
                <p align="justify">
                    Este sitio web ha sido desarrollado por Yadira Jazmín Pérez Castillo, como parte de su Trabajo de
                    Tesis de Master en el departamento de Ciencia de Datos y Tecnología de Software del
                    Instituto Politécnico Nacional, bajo la dirección de Sandra Dinora Orantes Jiménez y Patricio
                    Letelier Torres.
                </p>
                <br>
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <p class="lead">
                            <img height="200" width="200" src="../../assets/images/patricio.jpg">
                            <br>
                            <br>
                            Patricio Letelier Torres <br>
                            letelier@dsic.upv.es<br>
                            Doctor Ingeniero en Informática <br>
                            Universidad Politecnica de Valencia,España &nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="lead">
                            <img height="200" width="200" src="../../assets/images/dinora.jpg">
                            <br>
                            <br>
                            Sandra Dinora Orantes Jiménez <br>
                            dinora@cic.ipn.mx <br>
                            Dra. en Ingeniería de Sistemas<br>
                            Centro de Investigación en Computación&nbsp;&nbsp;&nbsp;&nbsp; <br>
                            Instituto Politécnico Nacional, México
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="lead">
                            <img height="200" width="200" src="../../assets/images/jazmin.jpg">
                            <br>
                            <br>
                            Yadira Jazmín Pérez Castillo<br>
                            yaddy9011@gmail.com<br>
                            Ingeniero en Sistemas Computacionales<br>
                            Centro de Investigación en Computación<br>
                            Instituto Politécnico Nacional, México
                        </p>
                    </div>
                </div>
            </div>
        </section>





    </div>
    <app-footer></app-footer>
</div>