<app-menu></app-menu>

<div class="main" align="center">
  <p class="sign" align="center">Accede al sistema</p>
  <form #frmLogin="ngForm" class="form1" (ngSubmit)="onLogin(frmLogin)">
    <input class="un" type="email" name="email" placeholder="Email" ngModel required>
    <div style="width: 300px">
      <show-hide-password btnStyle="primary" [btnOutline]="false">
        <input name="password" type="password" placeholder="Password" ngModel required>
      </show-hide-password>
    </div>
    <br>
    <input class="submit" type="submit" value="Entrar">
    <p class="forgot" align="center"><a routerLink="/ForgotPassword">¿Olvidaste tu contraseña?</a></p>
  </form>
</div>

<dx-popup [width]="300" [height]="250" [showTitle]="true" title="Aviso" [dragEnabled]="false"
  [closeOnOutsideClick]="false" [(visible)]="popupVisible">
  <div class='text-center'>
    <br>
    <p> {{mensaje}}</p>
    <br>
    <dx-button icon="check" type="success" text="Done" (onClick)="doneClick()">
    </dx-button>
  </div>
</dx-popup>
<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#frmLogin' }" [(visible)]="loadingVisible"
  [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()"
  (onHidden)="onHidden()">
</dx-load-panel>
<app-footer></app-footer>