#menu-tool{
  background-color: var(--first-color);
  color:var(--first-letra);
  /* position: absolute; */
  z-index: 1;
  width: 100%;
  }
  
  /* #menu_new{
    background-color: var(--first-color);
    color:var(--first-letra);
  } */

