<mat-toolbar id="menu-tool">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">

      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon><span>Inicio</span>
      </button>

      <button *ngIf="!isShoweval" mat-menu-item routerLink="/eval">
        <mat-icon>poll</mat-icon><span>Evalúa tus prácticas ágiles</span>
      </button>

      <button *ngIf="!isShowprac" mat-menu-item routerLink="/main">
        <mat-icon>add</mat-icon><span>Objetivos y prácticas</span>
      </button>

      <button *ngIf="!isShowGo" mat-menu-item routerLink="/Gobjetivos">
        <mat-icon>edit</mat-icon><span>Gestión de Objetivos</span>
      </button>

      <button *ngIf="!isShowGp" mat-menu-item routerLink="/Gpracticas">
        <mat-icon>edit</mat-icon><span>Gestión de Prácticas</span>
      </button>

      <button *ngIf="!isShowROP" mat-menu-item routerLink="/RelacionOP">
        <mat-icon>edit</mat-icon><span>Relacion Prácticas-Objetivos</span>
      </button>

      <button routerLink="/login" *ngIf="!isShowLog" mat-menu-item>
        <mat-icon>launch</mat-icon><span>Inicia sesión</span>
      </button>

      <button routerLink="/registro" *ngIf="!isShowReg" mat-menu-item>
        <mat-icon>person_add</mat-icon><span>Regístrate</span>
      </button>

      <button routerLink="/home" mat-menu-item>
        <mat-icon>location_city</mat-icon><span>Contacto</span>
      </button>

      <button routerLink="/home" mat-menu-item>
        <mat-icon>mood</mat-icon><span>A cerca de ...</span>
      </button>

      <button *ngIf="!isShowLogo" mat-menu-item (click)='salir($event)'>
        <mat-icon>exit_to_app</mat-icon><span>Cerrar Sesión</span>
      </button>

    </mat-menu>
  </span>
  <span class="fill-remaining-space">Evaluación de nivel de agilidad</span>
</mat-toolbar>