<app-menu></app-menu>
<div class="Appcontainer" align="center">
  <br>
  <br>
  <br>
  <div #objPanel id="objPanel">
    <h6 class="text-uppercase font-weight-bold">OBJETIVOS</h6>
    <mat-checkbox class="matchek" (change)="OcultarObjNI($event)" [(ngModel)]="checkedObjetivosNI">Ocultar Objetivos que
      no interesan</mat-checkbox>
    <br>
    <dx-data-grid #clientGrid id="gridContainer" keyExpr="_id" [dataSource]="objs" [showBorders]="true"
      wordWrapEnabled="true">
      <dxo-row-dragging [allowReordering]="true" [onReorder]="onReorderObj" [showDragIcons]="showDragIcons">
      </dxo-row-dragging>
      <!-- <dxo-scrolling mode="infinite" rowRenderingMode="virtual"></dxo-scrolling> -->
      <dxo-sorting mode="none"></dxo-sorting>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column dataField="n_obj" alignment="center" caption="N°" [width]="70" cellTemplate="cellTemplateOBJ">
      </dxi-column>
      <dxi-column dataField="objetivo" [allowFiltering]="true" [width]="500"></dxi-column>
      <dxi-column dataField="pd" caption="Diagnóstico" [allowFiltering]="true" dataType="number" alignment="center"
        cellTemplate="cellTemplateDiagnostic" [width]="100">
      </dxi-column>
      <dxi-column dataField="notas" [width]="160" [allowFiltering]="true" [allowSorting]="false"
        cellTemplate="cellTemplateNotas"></dxi-column>
      <dxi-column dataField="NoInteresa" [width]="100" [allowFiltering]="true" [allowSorting]="false"
        cellTemplate="cellTemplateNoInteresa"></dxi-column>
      <!-- Template Diagnostico -->
      <div *dxTemplate="let data of 'cellTemplateDiagnostic'">
        <button mat-raised-button (click)="DetalleObjetivo($event,data.rowIndex)">
          {{ data.value }}
        </button>
      </div>
      <!-- Template Button ver prácticas relacionadas -->
      <div *dxTemplate="let data of 'cellTemplateOBJ'; let itemIndex = index">
        <!-- <span style="background-color:lightblue"> OBJ {{ data.value }} </span> -->
        <span> OBJ {{ data.value }} </span>
        <button style="width:10%;height:2%;" mat-icon-button matTooltip="Ver prácticas relacionadas"
          (click)="EventshowROP($event,data.rowIndex,data.value)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon color="primary" [inline]="true">{{ ShowROP[data.rowIndex] ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </div>
      <!-- Template Notas -->
      <div *dxTemplate="let data of 'cellTemplateNotas'">
        <textarea style="border:solid 1px rgb(194, 190, 190);" matInput (change)="ChangeNotasObj($event,data.key)"
          value="{{data.value}}"></textarea>
      </div>
      <!-- Template NoInteresa -->
      <div *dxTemplate="let data of 'cellTemplateNoInteresa'">
        <input value="{{data.key}}" type="checkbox" (change)="ChangeCheckNoInteresa($event)" [checked]="data.value">
      </div>
    </dx-data-grid>
    <dx-popup [width]="800" [height]="500" [showTitle]="true" title="Prácticas Relacionadas" [dragEnabled]="false"
      [closeOnOutsideClick]="true" [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView id="scrollview" [scrollByContent]="scrollByContent" [scrollByThumb]="scrollByThumb"
          [showScrollbar]="scrollbarMode">
          <div>
            <dx-data-grid wordWrapEnabled="true" [dataSource]="DatasourseRop" [showBorders]="true"
              [columnAutoWidth]="true">
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxi-column dataField="n_prac" [width]="70" caption="N°"></dxi-column>
              <dxi-column dataField="Descrip_prac" [width]="300" caption="Práctica"></dxi-column>
              <dxi-column dataField="na_t" [width]="150" caption="Nivel de aplicación">
              </dxi-column>
              <dxi-column dataField="nc_t" [width]="150" caption="Nivel de contribución">
              </dxi-column>
            </dx-data-grid>
          </div>
        </dx-scroll-view>
      </div>
    </dx-popup>
  </div>
  <br>
  <br>
  <div id="SlideTo">
    <h6 class="text-uppercase font-weight-bold">PRÁCTICAS ÁGILES</h6>
    <mat-checkbox class="matchek" [(ngModel)]="checked" (change)="eventAplicables($event)">Ocultar prácticas no
      aplicables
    </mat-checkbox> &nbsp;&nbsp;
    <mat-checkbox class="matchek" (change)="eventAltoNA($event)" [(ngModel)]="checkANA">Ocultar Prácticas con Muy Alto
      Nivel
      de aplicación
    </mat-checkbox>
    <br>
    <br>
    <dx-data-grid #GridPrac id="gridprac" keyExpr="_id" [dataSource]="Practicas" [showBorders]="true"
      wordWrapEnabled="true" (onRowPrepared)="onRowPrepared($event)">
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-row-dragging [allowReordering]="true" [onReorder]="onReorderPrac" [showDragIcons]="showDragIcons">
      </dxo-row-dragging>
      <dxo-sorting mode="none"></dxo-sorting>
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxi-column [width]="120" dataField="num" cellTemplate="cellTemplateNP" alignment="center" caption="N°">
      </dxi-column>
      <dxi-column [width]="220" dataField="textprac" caption="Práctica" [allowFiltering]="false"></dxi-column>
      <dxi-column [width]="150" dataField="metodologia" caption="Método Ágil" alignment="center"
        [allowFiltering]="false"></dxi-column>
      <dxi-column [width]="150" dataField="pos" cellTemplate="cellTemplateNA" caption="Nivel de aplicación"
        alignment="center" [allowFiltering]="false" [allowSorting]="false">
      </dxi-column>
      <dxi-column [width]="160" dataField="notas" cellTemplate="cellTemplateNotas" caption="Notas" alignment="center"
        [allowFiltering]="false" [allowSorting]="false">
      </dxi-column>
      <dxi-column [width]="100" dataField="aplicable" cellTemplate="cellTemplateNoAplica" caption="No Aplicable"
        alignment="center" [allowFiltering]="false" [allowSorting]="false">
      </dxi-column>
      <dxi-column [width]="100" dataField="pos" cellTemplate="cellTemplateNC" caption="Nivel de Contribución"
        alignment="center" [allowFiltering]="false" [allowSorting]="false" [(visible)]="isNCVisible">
      </dxi-column>
      <!-- Template BUTTONS NUEVO -->
      <div *dxTemplate="let data of 'cellTemplateNP'">
        <span align="center" style="width:40%;"> {{ data.value }} </span> <br>
        <mat-icon aria-hidden="false" (click)="DetallePractica($event,data.rowIndex)"
          matTooltip="ver detalle de prácticas" class="icon-display" aria-label="Example home icon">info</mat-icon>
        <mat-icon aria-hidden="false" (click)="DetallePracticaObj($event,data.rowIndex)"
          matTooltip="ver objetivos relacionados a la práctica" class="icon-display" aria-label="Example home icon">
          adjust</mat-icon>
        <mat-icon aria-hidden="false" (click)="DetallePracticaDesafios($event,data.rowIndex)"
          matTooltip="ver desafíos de práctica" class="icon-display" aria-label="Example home icon">error</mat-icon>
        <mat-icon class="icon-display" matTooltip="ver relación de la práctica con otras prácticas"
          (click)="ShowRpp($event,data.rowIndex)" [inline]="true">
          {{ ArrShowRpp[data.rowIndex] ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </div>
      <!-- Template Nivel de aplicación -->
      <div *dxTemplate="let data of 'cellTemplateNA'">
        <select [(ngModel)]="idArr[data.rowIndex]"
          (change)="onChangeNA($event.target.value,false,data.key,$event, data.rowIndex)" matNativeControl>
          <option value="0">No Definido</option>
          <option value="1">Muy Bajo</option>
          <option value="2">Bajo</option>
          <option value="3">Medio</option>
          <option value="4">Alto</option>
          <option value="5">Muy alto</option>
        </select>
        <mat-icon *ngIf="ArrWND[data.rowIndex]" class="icon-display" [ngStyle]="{'color':'red'}" aria-hidden="false">
          warning</mat-icon>
      </div>
      <!-- Template Notas -->
      <div *dxTemplate="let data of 'cellTemplateNotas'">
        <textarea style="border:solid 1px rgb(194, 190, 190);" matInput
          (change)="onChangeNotasPracticas($event,data.key)" value="{{data.value}}"></textarea>
      </div>
      <!-- Template No Aplica -->
      <div *dxTemplate="let data of 'cellTemplateNoAplica'">
        <input value="{{data.key}}" type="checkbox" (change)="onChangeAplicable($event)" [checked]="data.value">
      </div>
      <!-- Template NC -->
      <div *dxTemplate="let data of 'cellTemplateNC'">
        <span align="center" style="width:40%;"> {{ ArrNC[data.rowIndex] }} </span>
      </div>
    </dx-data-grid>
    <dx-popup [width]="800" [height]="500" [showTitle]="true" title="Práctica" [dragEnabled]="false"
      [closeOnOutsideClick]="true" [(visible)]="popupPracticaDescription">
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView id="scrollview" [scrollByContent]="scrollByContent" [scrollByThumb]="scrollByThumb"
          [showScrollbar]="scrollbarMode">
          <div *ngIf="visibledescriptionprac" id="results"></div>
          <div align="center">
            <!-- GRID RELACION DE PRÁCTICAS OBJETIVOS-->
            <dx-data-grid [(visible)]="visiblegridop" wordWrapEnabled="true" [dataSource]="ArrRPO" [showBorders]="true"
              [columnAutoWidth]="true">
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxi-column dataField="obj.clave" [width]="70" caption="N°"></dxi-column>
              <dxi-column dataField="obj.descrip" [width]="400" caption="OBJETIVO"></dxi-column>
            </dx-data-grid>
            <!-- GRID RELACION DE PRÁCTICAS DESAFIOS -->
            <dx-data-grid [(visible)]="visiblegriddp" wordWrapEnabled="true" [dataSource]="DataRdp" [showBorders]="true"
              [columnAutoWidth]="true">
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxi-column dataField="n_desafio" [width]="70" caption="N°"></dxi-column>
              <dxi-column dataField="desafio.desafio" [width]="500" caption="Desafío"></dxi-column>
            </dx-data-grid>
          </div>
        </dx-scroll-view>
      </div>
    </dx-popup>
  </div>
</div>
<button id="butt" mat-fab (click)="scroll(objPanel)">
  <mat-icon>arrow_upward</mat-icon>
</button>
<br>
<br>
<br>
<app-footer></app-footer>