<app-menu></app-menu>
<div id="app" align="center">
    <br>
    <br>
    <br>
    <dx-polar-chart id="chart" [useSpiderWeb]="true"
        title="Diagnóstico de agilidad por áreas - representación gráfica" [dataSource]="DataAreas">
        <dxi-series argumentField="title_area" valueField="da" name="Agilidad por área"></dxi-series>
        <dxo-common-series-settings type="scatter"></dxo-common-series-settings>
        <dxo-export [enabled]="false"></dxo-export>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
        <dxo-size [height]="600" [width]="800">
        </dxo-size>
    </dx-polar-chart>
    <br>
    <br>
    <dx-data-grid id="gridContainer" [dataSource]="DataAreas" [masterDetail]="{ enabled: true, template: 'detail' }"
    keyExpr="n_area" [showBorders]="true">
    <dxi-column dataField="n_area" [width]="70" caption="N°"></dxi-column>
    <dxi-column dataField="title_area" caption="Área" [width]="600"></dxi-column>
    <div *dxTemplate="let area of 'detail'">
        <dx-data-grid [dataSource]="getPracticas(area.key)" [showBorders]="true" [columnAutoWidth]="true">
            <dxi-column dataField="n_prac" [width]="70" caption="N°"></dxi-column>
            <dxi-column dataField="Descrip_prac" [width]="300" caption="Práctica"></dxi-column>
            <dxi-column dataField="na_t" [width]="150" caption="Nivel de aplicación">
            </dxi-column>
        </dx-data-grid>
    </div>
</dx-data-grid>
</div>
<br>
<br>
<br>
<br>
<app-footer></app-footer>