<app-menu></app-menu>

<div id="app" align="center">
    <br>
    <br>
    <br>
    <mat-card class="example-card">
        <mat-card-header id="mat-header">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                Evaluación por objetivos works!
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Fecha de Evaluación</th>
                    <th class="text-center">Ver Evaluacion</th>
                </tr>
                <tr *ngFor="let newarrss of newarrs; let id = index">
                    <td>
                        <span>{{newarrss.fecha_creacion}}</span>
                    </td>
                    <td>
                        <span class="table-remove">
                            <button mat-mini-fab (click)="remove(id)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
            <br>
            <p>
                Preciona el botón para generar un nueva evaluación.
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button (click)="GenerarEvaluacion($event, item)" mat-fab
                aria-label="Example icon-button with a heart icon">
                <mat-icon> list_alt</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<br>
<br>
<br>
<app-footer></app-footer>
