/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example-card {
    max-width: 800px;
  }
  
#mat-header{
  background-color: var(--first-color);
}

#mat-button{
  background-color: var(--first-color);
}

:root {
  --first-color: #03A9F4;
  --second-color:#0277BD;
  --first-letra: #000000;
  --second-letra: #fff;
} 
