<app-menu></app-menu>
<div id="app" align="center">
  <br>
  <br>
  <br>
  <mat-card class="example-card">
    <!-- <mat-card-header id="mat-header">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <img mat-card-image src="../../assets/images/banner.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Este sitio te ofrece conocimiento asociado a prácticas ágiles y te ayuda a establecer tu propio roadmap para
        implantación de prácticas ágiles ademas de evaluar tu nivel de agilidad.
        Reflexiona respecto de tus objetivos de mejora y detecta qué prácticas pueden ayudarte a conseguir dichos
        objetivos.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/registro">Regístrate</button>
      <button mat-button routerLink="/login">Inicia sesión </button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<br>
<br>
<app-footer></app-footer>