<mat-toolbar [style.backgroundColor]="'cyan'">
  <span>Evaluacion de enfoque ágil 2019</span>
  <br>
  <br>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/registro">Registrate</button>
    <button mat-menu-item routerLink="/login">Iniciar Sesion</button>
    <button mat-menu-item>Contacto</button>
    <button mat-menu-item>a cerca de ...</button>
  </mat-menu>
</mat-toolbar>