<app-menu></app-menu>
<!-- <app-encabezado></app-encabezado> -->
<!-- <div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Create an account</h2>

    <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
      <p>
        <input type="text" name="name" placeholder="name" ngModel required>
      </p>
      <p>
        <input type="email" name="email" placeholder="Email" ngModel required>
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" ngModel required>
      </p>
      <p>
        <input type="submit" value="Register">
      </p>
    </form>
  </div>
</div> -->
<div align="center">

  <br>
  <mat-card class="example-card">

    <mat-card-header [style.backgroundColor]="'cyan'">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Formulario de registro</mat-card-title>
      <mat-card-subtitle>Llena los datos que solicita el formulario</mat-card-subtitle>
    </mat-card-header>
    <br>
    <form #frmRegister="ngForm" class="example-form" (ngSubmit)="onRegister(frmRegister)">
      <mat-card-content align="left">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Escribe tu nombre ..." type="text" name="name" ngModel required>
        </mat-form-field>

        <mat-form-field class="example-full-width">

          <!-- <input matInput placeholder="Correo Electronico" name="email" type="email" [formControl]="emailFormControl"
            [errorStateMatcher]="matcher" ngModel required> -->

          <input matInput placeholder="Email" type="email" name="email" ngModel required>

          <!--           
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña ..." type="password" name="password" ngModel required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Pais</mat-label>
          <mat-select>
            <mat-option *ngFor="let Pais of Paises" [value]="Pais._id" >
              {{ Pais.PAIS}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        <mat-form-field>
          <mat-label>Ámbito de trabajo</mat-label>
          <mat-select>
            <mat-option *ngFor="let am of Ambitos" [value]="am._id">
              {{ am.ambito }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Sector</mat-label>
          <mat-select>
            <mat-option *ngFor="let Sector of Sectores" [value]="Sector._id">
              {{ Sector.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Número de integrantes del equipo</mat-label>
          <mat-select>
            <mat-option *ngFor="let numero_integrante of numero_integrantes" [value]="numero_integrante._id">
              {{ numero_integrante.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </mat-card-content>

      <mat-card-actions>
        <button [style.backgroundColor]="'cyan'" type="submit" value="Register" mat-button> Registrar</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
<br>

<app-footer></app-footer>